  <header class="bg-blue-800 text-white">
    <div class="container mx-auto py-1">
      <nav class="flex items-center justify-between">
        <ul class="flex w-full justify-between items-center p-4">
          <li>
            <a [routerLink]="'/job-experience'" routerLinkActive="bg-blue-700"
               class="text-white cursor-pointer p-4 no-underline hover:bg-blue-700">Job Experience</a>
          </li>
          <li>
            <a [routerLink]="'/movies'" routerLinkActive="bg-blue-700"
               class="text-white cursor-pointer p-4 hover:bg-blue-700">Movies</a>
          </li>
          <li>
            <a [routerLink]="'/date'" routerLinkActive="bg-blue-700"
               class="text-white cursor-pointer p-4 hover:bg-blue-700">Date</a>
          </li>
          <li>
            <a [routerLink]="'/calendar'" routerLinkActive="bg-blue-700"
               class="text-white cursor-pointer p-4 hover:bg-blue-700">Calendar</a>
          </li>
          <li>
            <a [routerLink]="'/matcher-indicator'" routerLinkActive="bg-blue-700"
               class="text-white cursor-pointer p-4 hover:bg-blue-700">Matcher Indicator</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  
  