<div class="movies-container">
    <div class="search">
        <input class="searchTerm" [(ngModel)]="searchTerm" placeholder="Enter movie title" />
        <button mat-raised-button color="primary" (click)="search()">Search</button>
    </div>

    <ng-container *ngIf="movies$ | async as movies; else noMovies">
        <div class="movies-wrapper">
            <ng-container *ngFor="let movie of movies">
                <mat-card class="movie-card">
                    <img mat-card-image [src]="movie?.image?.url" alt="Movie Poster" />
                    <mat-card-content>
                        <h2 mat-card-title>{{ movie.title }}</h2>
                        <p>Year: {{ movie.year }}</p>
                        <p>Rating: {{ movie.imDbRating }}</p>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #noMovies>
        <!-- <p>Nothing found</p> -->
    </ng-template>
</div>


<ng-container *ngIf="LoaderService.isLoading | async">
    <h1>loading...</h1>
</ng-container>